:root {
    --gap-value: 8px
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 6px
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-row-center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-center-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex-row-center-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flex-column-center-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-column-center-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.flex-column-center-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.a-start {
    align-items: flex-start;
}

.a-end {
    align-items: flex-end;
}

.j-start {
    justify-content: flex-start;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-evenly {
    justify-content: space-evenly;
}

.j-around {
    justify-content: space-around;
}

.gap1 {
    gap: var(--gap-value);
}

.gap2 {
    gap: calc(var(--gap-value) * 2);
}

.gap3 {
    gap: calc(var(--gap-value) * 3);
}

.full-width {
    width: 100%;
}

.full-width-vw {
    width: 100vw;
}

.full-height {
    height: 100%;
}

.full-height-vh {
    height: 100vh;
}

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}