:root {
    --gap-value: 8px;
    --padding-value: 8px;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-row-center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-center-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex-row-center-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flex-column-center-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-column-center-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.flex-column-center-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.a-start {
    align-items: flex-start;
}

.a-end {
    align-items: flex-end;
}

.j-start {
    justify-content: flex-start;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-evenly {
    justify-content: space-evenly;
}

.j-around {
    justify-content: space-around;
}

.p1 {
    padding: var(--padding-value);
}

.p2 {
    padding: calc(var(--padding-value) * 2);
}

.py1 {
    padding-top: var(--padding-value);
    padding-bottom: var(--padding-value);
}

.py2 {
    padding-top: calc(var(--padding-value) * 2);
    padding-bottom: calc(var(--padding-value) * 2);
}

.px1 {
    padding-left: var(--padding-value);
    padding-right: var(--padding-value);
}

.px2 {
    padding-left: calc(var(--padding-value) * 2);
    padding-right: calc(var(--padding-value) * 2);
}

.gap1 {
    gap: var(--gap-value);
}

.gap2 {
    gap: calc(var(--gap-value) * 2);
}

.gap3 {
    gap: calc(var(--gap-value) * 3);
}

.full-width {
    width: 100%;
}

.full-width-vw {
    width: 100vw;
}

.full-height {
    height: 100%;
}

.full-height-vh {
    height: 100vh;
}

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.limitationLines1,
.limitationLines2,
.limitationLines3,
.limitationLines4,
.limitationLines5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.limitationLines1 {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.limitationLines2 {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.limitationLines3 {
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.limitationLines4 {
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.limitationLines5 {
    -webkit-line-clamp: 5;
    line-clamp: 5;
}